/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
html, body { height: 100%; }
body { margin: 0; font-family: 'Varela Round', sans-serif; }
*, h3 {
    font-family: 'Varela Round', sans-serif;
}
.bgImage{
    background: url('src\kp1.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 92.8vh;
    padding: 12vh 0;
}