<div class="container">
    

    <!-- Card -->
    <div class="container shopping-cart">
        <div class="card">
            <div class="card-body">
                <h1 style="color:#388E3C;">SUCCESSFULLY PAID</h1>
                <h3 class="mb-3">The total amount of</h3>
                
                <ul>
                    <div *ngFor="let book of transaction.books">
                        <li>
                            <h3>,,{{book.title}}''</h3>
                            <h3 style="font-size: 12px;">{{book.writer.firstName}} {{book.writer.lastName}}</h3>
                            <span style="float: right;">${{book.price}}</span>
                        </li>
                        <hr>
                    </div>

                    <li>
                        <div>
                            <strong>The total amount of</strong>
                            <strong>
                                <p class="mb-0">(including VAT)</p>
                            </strong>
                        </div>
                        <span style="float: right;"><strong>${{transaction.amount}}</strong></span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Card -->

    </div>

</div>