<div class="container">
  <div *ngIf="this.showForm" class="row">
    <div *ngFor="let forms of formFieldsList; let i = index;">
      <div class="card">
        <div *ngFor="let field of forms.formFields" class="form-group row">
          <div class="card-header">
            <h1 *ngIf="field.id=='pisac'" style="color: white;padding-left: 20px;">{{field.defaultValue}}</h1>
          </div>

          <mat-form-field *ngIf="field.id!='pisac'" id="field" appearance="fill">
            <mat-label id="field">{{field.label}}</mat-label>
            <mat-select  [(ngModel)]="opinion[i].opinion" name="field.id" *ngIf="field.type.name=='enum' && field.id=='misljenje'">
              <mat-option *ngFor="let val of misljenje" value={{val}}>
                {{field.type.values[val]}}
              </mat-option>
            </mat-select>

            <textarea [(ngModel)]="opinion[i].comment" matInput *ngIf="field.id=='komentar'" type="text" name={{field.id}} placeholder={{field.label}}
              row="3"></textarea>

          </mat-form-field>

        </div>
        <button (click)="addOpinion(forms.processInstanceId ,forms.taskId, i)" mat-raised-button color="primary" style="float: right;margin-bottom: 10px; width: auto;">Ok</button>

      </div>
    </div>
  </div>
</div>


<div *ngIf="!this.showForm" class="info">
  <h2>There are no new writers.</h2>
</div>