.color{
    background-color: #252D40;
    color: white;
}

.buttonDetails{
    border-radius: 4px;
    background-color: rgb(51, 61, 81, 0.7);
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}